{% load static %}
<html lang="ko">
<head>
{% include "www/share/head.html" %}
</head>
<body>
<div class="container" style="background-image: url('{% static 'www\main02.png' %}')">
    <br>
    {% include "www/share/navbar.html" %}
    <div style="height:221px"></div>
<!-- 사이드메뉴 -->
<div class="row" style="background-color: #efefef;">
    <div class="col-xs p-4" style="width: 250px; border-right: 1px solid lightgray">
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="#">Company</a>
                <div class="font-sans-300" style="font-size: 20px">
                    <li><a style="color: dimgray" href="{% url 'company_intro' %}">- 회사개요</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_vision' %}">- 기업비전</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_history' %}">- 회사연혁</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_orgnation' %}">- 조직도</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_certificate' %}">- 지적재산권</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_map' %}">- 오시는길</a></li>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="{% url 'product_dispenser' %}">Product</a>
            </ul>
        </div>
        <div>
            <ul>
                <a onclick="alert('준비중입니다.')" class="font-sans-500" style="font-size: 26px; color: black" href="#">Customer</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="{% url 'finance_notice' %}">Finance</a>
            </ul>
        </div>
    </div>
    <div class="m-2 font-sans-400" style="width: 1000px;">
        <div style="text-align: right; font-size: 12px;">홈 > 회사소개 > 회사연혁</div>
        <div class="col-xs" style="font-size: 25px">회사연혁</div>
        <div class="col-xs" style="border-bottom: 1px solid lightgray"><br>
<pre class="font-serif-500" style="font-size: 26px">
세계속에 당당한 프로텍
프로텍은 최고의 인재와 기술력을 바탕으로 최고의 가치를 창출합니다.
</pre>

        </div><br><br>
        <div class="row">
            <div style="width: 70px;"></div>
            <div>
                <table border="0">
                    <tr><td style="font-size: 25px; width: 150px">2020</td><td style="text-align: right">1</td><td style="font-size: 14px">　뉴메틱 사업부 분리</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2019</td><td style="text-align: right">12</td><td style="font-size: 14px">　무역의 날 1억불 수출탑 수상</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">11</td><td style="font-size: 14px">　안양시 우수기업 표창</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">6</td><td style="font-size: 14px">　지역산업일자리창출MOU기업선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">3</td><td style="font-size: 14px">　모범납세자 장관상 표창</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2017</td><td style="text-align: right">4</td><td style="font-size: 14px">　수출입 안전관리 우수업체(AEO) 인증</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2016</td><td style="text-align: right">11</td><td style="font-size: 14px">　신규 인천공장 이전</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">4</td><td style="font-size: 14px">　고용노동부 청년친화 강소기업인증</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">3</td><td style="font-size: 14px">　수원공장 준공</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2015</td><td style="text-align: right">10</td><td style="font-size: 14px">　안양 평촌 신사옥 준공이전</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">6</td><td style="font-size: 14px">　삼성전자 동반성장 협력상 수상</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2014</td><td style="text-align: right">10</td><td style="font-size: 14px">　무역의 날 5천만불 수출탑 수상</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">6</td><td style="font-size: 14px">　산업통상자원부장관 우수기술연구센터지정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">3</td><td style="font-size: 14px">　삼성전자 협셩회 가입</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2013</td><td style="text-align: right">3</td><td style="font-size: 14px">　성실납세자 표창</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2011</td><td style="text-align: right">8</td><td style="font-size: 14px">　일본 미나미 인수</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">8</td><td style="font-size: 14px">　포브스 선정 아시아 200대 중견기업 선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2010</td><td style="text-align: right">11</td><td style="font-size: 14px">　무역의 날 2천만불 수출탑 및 은탑산업훈장 수훈</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2009</td><td style="text-align: right">9</td><td style="font-size: 14px">　싱가포르 R&D센터 설립</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">1</td><td style="font-size: 14px">　프로텍 제2공장 이전</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2008</td><td style="text-align: right">12</td><td style="font-size: 14px">　무역의 날 1천만불 수출탑 수상</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">5</td><td style="font-size: 14px">　ISO 14001 인증 획득</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2006</td><td style="text-align: right">7</td><td style="font-size: 14px">　코리아 테크놀로지 패스트50 선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2005</td><td style="text-align: right">12</td><td style="font-size: 14px">　부품소재기술상기술혁신부분 대통령표창 수상</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2004</td><td style="text-align: right">8</td><td style="font-size: 14px">　산업자원부 부품소재전문기업 인증</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">4</td><td style="font-size: 14px">　고잔, 남동공단, 의왕지점 설립</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2003</td><td style="text-align: right">10</td><td style="font-size: 14px">　기술신용보증기금 우량기술기업 선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">9</td><td style="font-size: 14px">　중소기업청 이노비즈 기업선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">7</td><td style="font-size: 14px">　부품소재 수출리딩컴퍼니 인증</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2002</td><td style="text-align: right">7</td><td style="font-size: 14px">　코리아 테크놀로지 패스트50 선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">4</td><td style="font-size: 14px">　무역의 날 5백만불 수출탑 및 대통령표창</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2001</td><td style="text-align: right">11</td><td style="font-size: 14px">　해외무역진흥 대통령 표창</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">8</td><td style="font-size: 14px">　중소기업청장 유망선도기술기업지정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">8</td><td style="font-size: 14px">　코스닥 상장</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">8</td><td style="font-size: 14px">　반도체산업협회 회원가입</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">4</td><td style="font-size: 14px">　기업부설연구소 설립</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">3</td><td style="font-size: 14px">　인천중소기업수출지원센터 수출유망중소기업지정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">2000</td><td style="text-align: right">12</td><td style="font-size: 14px">　인천공장준공 및 사업장 이전</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">11</td><td style="font-size: 14px">　해외무역진흥 대통령표창</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">3</td><td style="font-size: 14px">　경기도지사 중소기업수출기업화사업 대상기업선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">1</td><td style="font-size: 14px">　유망 중소기업 선정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">1999</td><td style="text-align: right">11</td><td style="font-size: 14px">　ISO 9001 인증 획득</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">8</td><td style="font-size: 14px">　첨단제품우수 벤처기업 지정</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">　</td><td style="text-align: right">4</td><td style="font-size: 14px">　METAL WORK (Italy) 유럽 수출 공급계약 체결</td></tr>
                    <tr><td style="font-size: 25px; width: 150px">1997</td><td style="text-align: right">9</td><td style="font-size: 14px">　(주)프로텍 설립</td></tr>
                </table>
                <br><br><br><br><br>
            </div>

            <div style="width: 100px;"></div>
            <div>
                <table border="0">
                    <tr><td><img class="img-thumbnail" src="{% static 'www/img/awards06.png' %}"></td></tr>
                    <tr><td><img class="img-thumbnail" src="{% static 'www/img/awards05.png' %}"></td></tr>
                    <tr><td><img class="img-thumbnail" src="{% static 'www/img/awards04.png' %}"></td></tr>
                    <tr><td><img class="img-thumbnail" src="{% static 'www/img/awards03.png' %}"></td></tr>
                    <tr><td><img class="img-thumbnail" src="{% static 'www/img/awards02.png' %}"></td></tr>
                    <tr><td><img class="img-thumbnail" src="{% static 'www/img/awards01.png' %}"></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% include "www/share/footer.html" %}
</div>
{% include "www/share/script.html" %}
</body>
</html>
