{% load static %}
<html lang="ko">
<head>
{% include "www/share/head.html" %}
</head>
<body>
<div class="container" style="background-image: url('{% static 'www\main02.png' %}')">
    <br>
    {% include "www/share/navbar.html" %}
    <div style="height:221px"></div>
<!-- 사이드메뉴 -->
<div class="row" style="background-color: #efefef;">
    <div class="col-xs p-4" style="width: 250px; border-right: 1px solid lightgray">
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="#">회사소개</a>
                <div class="font-sans-300" style="font-size: 20px">
                    <li><a style="color: dimgray" href="../company">- 회사개요</a></li>
                    <li><a style="color: dimgray" href="../vision">- 기업비전</a></li>
                    <li><a style="color: dimgray" href="../history">- 회사연혁</a></li>
                    <li><a style="color: dimgray" href="../orgnation">- 조직도</a></li>
                    <li><a style="color: dimgray" href="../certificate">- 지적재산권</a></li>
                    <li><a style="color: dimgray" href="../map">- 오시는길</a></li>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="../product">제품소개</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="../notice" >공지사항</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="#" onclick="javascript:alert('준비중입니다.')">투자정보</a>
            </ul>
        </div>
    </div>
    <div class="m-2 font-sans-400" style="width: 1000px;">
        <div style="text-align: right; font-size: 12px;">홈 > 회사소개 > 회사개요</div>
        <div class="col-xs" style="font-size: 25px">회사개요</div>
        <div class="col-xs" style="border-bottom: 1px solid lightgray"><br>
<pre class="font-serif-500" style="font-size: 26px">
세계속에 당당한 프로텍
프로텍은 최고의 인재와 기술력을 바탕으로 최고의 가치를 창출합니다.
</pre>
        </div>
        <div class="row">
            <div class="p-5">
<pre class="font-sans-300" style="font-size: 17px">
프로텍은 1997년 설립된 반도체 패키징관련 장비 제조 업체입니다.
프로텍은 설립 이후 끊임없는 연구와 개발에 힘써 현재 반도체 및
LED, SMTA분야의 고정도의 디스펜싱 분야 및 패키징 분야에서
세계적인 기업으로 성장하였습니다.
프로텍은 반도체 디펜싱 분야에서 세계를 제패한 기술력과 자신감을
바탕으로 반도체 및 LED 패키징 분야의 토탈 솔루션을 제공할 수
있도록 끊임없는 연구와 개발을 하고 있으며 이를 통해
국가 산업발전에 기여하고 세계 최고의 반도체 장비 제조 기업이
되도록 최선을 다할 것입니다.
고객 여려분의 애정과 성원이 있기에 프로텍은 오늘도 도전을
현실로 만들어 가고 있습니다.

감사합니다.

대표이사 최승환
</pre>
            </div>
            <div class="p-5">
                <img class="img-thumbnail" src="{% static 'www/img/ceo.png' %}" width="260px" style="filter: grayscale(50%)">
            </div>
        </div>


        <div class="row p-5">
            <div style="width: 900px">
            </div>
            <div class="row p-3">
                <div class="thumbnail" style="width: 180px; margin: 2px">
                    <a href="https://postfiles.pstatic.net/MjAxNzA0MDhfMjcz/MDAxNDkxNjI3ODkwOTM5.1fM5K32iiEqcFEe0mwLoUoI55IVFZzwdRuUL53OLGywg.6b7_HLP6oIV78ljT0iRLrf3DSoP4be9FrIyyYG25sZ0g.JPEG.lsy12800/20170408_132802.jpg?type=w966">
                        <img class="rounded" src="https://postfiles.pstatic.net/MjAxNzA0MDhfMjcz/MDAxNDkxNjI3ODkwOTM5.1fM5K32iiEqcFEe0mwLoUoI55IVFZzwdRuUL53OLGywg.6b7_HLP6oIV78ljT0iRLrf3DSoP4be9FrIyyYG25sZ0g.JPEG.lsy12800/20170408_132802.jpg?type=w966" style="width:100%">
                        <div class="caption"></div>
                    </a>
                </div>
                <div class="thumbnail" style="width: 180px; margin: 2px">
                    <a href="https://www.anyang.go.kr/DATA/board/ayn/original/8b1fe2c5-01fc-4808-8a26-1c25dc464255.jpg">
                        <img class="rounded" src="https://www.anyang.go.kr/DATA/board/ayn/original/8b1fe2c5-01fc-4808-8a26-1c25dc464255.jpg" style="width:100%">
                        <div class="caption"></div>
                    </a>
                </div>
                <div class="thumbnail" style="width: 150px; margin: 2px">
                    <a href="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA2MTZfMTQz%2FMDAxNTkyMjgxOTg4MDY5.l5zPgclmoitINuQCoLS9_nlUIv7_gVWY1i_SVeKqTZwg.fGr7R1t_1-D9kA6DP3JINyutOBXv30XidfKK9-3nW-kg.JPEG.wu23vgmrip1n%2F3.JPG&type=sc960_832">
                        <img class="rounded" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA2MTZfMTQz%2FMDAxNTkyMjgxOTg4MDY5.l5zPgclmoitINuQCoLS9_nlUIv7_gVWY1i_SVeKqTZwg.fGr7R1t_1-D9kA6DP3JINyutOBXv30XidfKK9-3nW-kg.JPEG.wu23vgmrip1n%2F3.JPG&type=sc960_832" style="width:100%">
                        <div class="caption"></div>
                    </a>
                </div>
                <div class="thumbnail" style="width: 150px; margin: 2px">
                    <a href="https://blogfiles.pstatic.net/MjAyMDA5MDdfMTQx/MDAxNTk5NDQyNDgyMTk4.bwp7rLV4uQCYsw-g2ad-vmG990FphHRhM1UInpfq454g.9R_s5QFHhhGRLRGIZa3Y6x67bJEV7NW6UB4R5Ae3rJwg.JPEG.doallcpswb/1.jpg">
                        <img class="rounded" src="https://blogfiles.pstatic.net/MjAyMDA5MDdfMTQx/MDAxNTk5NDQyNDgyMTk4.bwp7rLV4uQCYsw-g2ad-vmG990FphHRhM1UInpfq454g.9R_s5QFHhhGRLRGIZa3Y6x67bJEV7NW6UB4R5Ae3rJwg.JPEG.doallcpswb/1.jpg" style="width:100%">
                        <div class="caption"></div>
                    </a>
                </div>
                <div class="thumbnail" style="width: 150px; margin: 2px">
                    <a href="https://blogfiles.pstatic.net/MjAyMDA5MDdfNzcg/MDAxNTk5NDQzMDYwMjIw.YxxMgy2j4BGL2TSWvMcrnkyDIfX0KkaxACORtzveOa8g.SeJey8mM6S9ysw4aeHn1KvRoCn6f6ZmplTFzb84uqU8g.JPEG.doallcpswb/2.jpg">
                        <img class="rounded" src="https://blogfiles.pstatic.net/MjAyMDA5MDdfNzcg/MDAxNTk5NDQzMDYwMjIw.YxxMgy2j4BGL2TSWvMcrnkyDIfX0KkaxACORtzveOa8g.SeJey8mM6S9ysw4aeHn1KvRoCn6f6ZmplTFzb84uqU8g.JPEG.doallcpswb/2.jpg" style="width:100%">
                        <div class="caption"></div>
                    </a>
                </div>
                <div class="thumbnail" style="width: 150px; margin: 2px">
                    <a href="https://blogfiles.pstatic.net/MjAyMDA5MDdfODAg/MDAxNTk5NDQ0MTkyMTE0.63DwIRYFGQUCzqN07NqynJXCvnI27J5btsLSFEEYYMsg.3E7vAvcLqAW-re83ExOhGKEvGYwjE_VlyaPU1bv4ItQg.JPEG.doallcpswb/4.jpg">
                        <img class="rounded" src="https://blogfiles.pstatic.net/MjAyMDA5MDdfODAg/MDAxNTk5NDQ0MTkyMTE0.63DwIRYFGQUCzqN07NqynJXCvnI27J5btsLSFEEYYMsg.3E7vAvcLqAW-re83ExOhGKEvGYwjE_VlyaPU1bv4ItQg.JPEG.doallcpswb/4.jpg" style="width:100%">
                        <div class="caption"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "www/share/footer.html" %}
</div>
{% include "www/share/script.html" %}
</body>
</html>
