{% load static %}
<html lang="ko">
<head>
{% include "www/share/head.html" %}
</head>
<body>
<div class="container" style="background-image: url('{% static 'www\main02.png' %}')">
    <br>
    {% include "www/share/navbar.html" %}
    <div style="height:221px"></div>
<!-- 사이드메뉴 -->
<div class="row" style="background-color: #efefef;">
    <div class="col-xs p-4" style="width: 250px; border-right: 1px solid lightgray">
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="#">Company</a>
                <div class="font-sans-300" style="font-size: 20px">
                    <li><a style="color: dimgray" href="{% url 'company_intro' %}">- 회사개요</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_vision' %}">- 기업비전</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_history' %}">- 회사연혁</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_orgnation' %}">- 조직도</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_certificate' %}">- 지적재산권</a></li>
                    <li><a style="color: dimgray" href="{% url 'company_map' %}">- 오시는길</a></li>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="{% url 'product_dispenser' %}">Product</a>
            </ul>
        </div>
        <div>
            <ul>
                <a onclick="alert('준비중입니다.')" class="font-sans-500" style="font-size: 26px; color: black" href="#">Customer</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="{% url 'finance_notice' %}">Finance</a>
            </ul>
        </div>
    </div>
    <div class="m-2 font-sans-400" style="width: 1000px;">
        <div style="text-align: right; font-size: 12px;">홈 > 회사소개 > 지적재산권</div>
        <div class="col-xs" style="font-size: 25px">지적재산권</div>
        <div class="col-xs" style="border-bottom: 1px solid lightgray"><br>
<pre class="font-serif-500" style="font-size: 26px">
세계속에 당당한 프로텍
프로텍은 최고의 인재와 기술력을 바탕으로 최고의 가치를 창출합니다.
</pre>
        </div><br>
        <div class="row" style="width: 1000px">
            <div class="m-5 p-4" style="width: 250px">
                <p style="font-size: 20px">특허</p>
                - 국내특허 : 67개<br>
                - 해외특허 : 12개<br>
                - 실용신안 : 23개<br>
            </div>
            <div class="p-5" style="border-bottom: 1px solid lightgray">
                <img width="150" height="180" src="{% static 'www/img/certificate01.png' %}">　
                <img width="150" height="180" src="{% static 'www/img/certificate01.png' %}">　
                <img width="150" height="180" src="{% static 'www/img/certificate01.png' %}">
            </div>
        </div>
        <div class="row" style="width: 1000px">
            <div class="m-5 p-4" style="width: 250px;">
                <p style="font-size: 20px">인증</p>
                - ISO9000<br>
                - ISO14000<br>
                - CE / UL<br>
                - 신기술벤처기업<br>
            </div>
            <div class="p-5">
                <img width="150" height="180" src="{% static 'www/img/certificate02.png' %}">　
                <img width="150" height="180" src="{% static 'www/img/certificate02.png' %}">　
                <img width="150" height="180" src="{% static 'www/img/certificate02.png' %}">
            </div>
        </div>
    </div>
</div>
{% include "www/share/footer.html" %}
</div>
{% include "www/share/script.html" %}
</body>
</html>
