{% load static %}
<html lang="ko">
<head>
{% include "www/share/head.html" %}
</head>
<body>
<div class="container" style="background-image: url('{% static 'www/img/finance.jpg' %}')">
    <br>
    {% include "www/share/navbar.html" %}
    <div style="height:221px"></div>
<!-- 사이드메뉴 -->
<div class="row" style="background-color: #efefef">
    <div class="col-xs p-4" style="width: 250px; border-right: 1px solid lightgray">
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="{% url 'company_about' %}">회사소개</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="{% url 'product_dispenser' %}">제품정보</a>
            </ul>
        </div>
        <div>
            <ul>
                <a onclick="alert('준비중입니다.')" class="font-sans-500" style="font-size: 26px; color: black" href="#" >고객지원</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black">투자정보</a>
                <div class="font-sans-300" style="font-size: 20px">
                    <li><a style="color: dimgray" href="{% url 'investment_disclosure' %}">- 공시정보</a></li>
                    <li><a style="color: dimgray" href="{% url 'investment_stock' %}">- 주가정보</a></li>
                    <li><a style="color: dimgray" href="{% url 'investment_finance' %}">- 재무정보</a></li>
                    <li><a style="color: dimgray" href="{% url 'investment_notice' %}">- 회사공고</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="m-2 font-sans-400" style="width: 1000px;">
        <div style="text-align: right; font-size: 12px;">홈 > 투자정보 > 회사공고</div>
        <div class="col-xs" style="font-size: 25px">회사공고</div>
        <div class="col-xs" style="border-bottom: 1px solid lightgray"><br>
<pre class="font-serif-500" style="font-size: 26px">
프로텍은 고객과 투자자의 이익을 극대화하는 고객중심의 경영을 추구합니다.
</pre>
        </div>
        <div style="height: 50px"></div>
        <div class="font-sans-300" style="margin-left: 40px">
        </div>
        <div class="font-sans-300" style="margin-left: 40px">
        </div>
        <div style="margin-left: 40px"></div>
        <div style="margin-left: 40px">

            <table class="table table-borderless">
                <thead style="background-color: whitesmoke; color: black; border-top: black solid 2PX; border-bottom: black solid 1px">
                    <tr class="font-sans-500"><td>제목</td><td>공지일자</td></tr>
                </thead>
                <tbody style="background-color: whitesmoke">
                    {% for notice in notices %}
                    <tr style="border-bottom: gainsboro solid 1px"><td><a data-toggle="modal" href="#notice{{ notice.id }}" style="color: #212121">{{ notice.title }}</a></td><td>{{ notice.date|date:"Y-m-d" }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="font-sans-300" style="margin-left: 40px">
        </div>
        <div style="height: 100px"></div>
    </div>
</div>
{% include "www/share/footer.html" %}
</div>
{% include "www/share/script.html" %}



</body>
</html>

{% for notice in notices %}
<div class="modal fade" id="notice{{ notice.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ notice.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {% if notice.file %}
                    <div style="border-bottom: solid 1px lightgray; padding-bottom: 10px">첨부 : <a href="{{ notice.file.url }}">{{ notice.file }}</a></div>
                {% endif %}
                <div>{{ notice.content|linebreaksbr }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
