{% load static %}
<html lang="ko">
<head>
{% include "www/share/head.html" %}
</head>
<body>
<div class="container" style="background-image: url('{% static 'www\main02.png' %}')">
    <br>
    {% include "www/share/navbar.html" %}
    <div style="height:221px"></div>



<!-- 사이드메뉴 -->
<div class="row" style="background-color: #efefef;">
    <div class="col-xs p-4" style="width: 250px; font-size: 30px; border-right: 1px solid lightgray;">
        <div>
            <ul>
                <a class="sidenavtitle" href="../company">회사소개</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="sidenavtitle" href="../product">제품소개</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="sidenavtitle" href="../#" onclick="javascript:alert('준비중입니다.')">고객지원</a>
            </ul>
        </div>
        <div>
            <ul>
                <p class="sidenavtitle">투자정보</p>
                <li style="font-size: 20px"><a class="sidenavsub" href="../stocknotice">　- 공지사항</a></li>
                <li style="font-size: 20px"><a class="sidenavsub" href="#" onclick="javascript:alert('준비중입니다.')">　- 증시정보</a></li>
            </ul>
        </div>
    </div>
    <div class="m-2" style="width: 1000px;">
        <div style="text-align: right; font-size: 12px;">홈 > 투자정보 > 증시정보</div>
        <div class="col-xs" style="font-size: 25px">증시정보</div>
        <div class="col-xs" style="border-bottom: 1px solid lightgray"><br>
<pre style="font-family: 'Nanum Myeongjo', serif; font-size: 26px">
세계속에 당당한 프로텍
프로텍은 최고의 인재와 기술력을 바탕으로 최고의 가치를 창출합니다.
</pre>
        </div>
        <div class="p-5">
            <iframe width="900" height="700" frameborder="0" src="https://dart.fss.or.kr/html/search/SearchCompany_M2.html?textCrpNM=053610#cal9"></iframe>
        </div>
<br><br><br>
    </div>
</div>


    {% include "www/share/footer.html" %}



</div>
<script src="{% static 'bootstrap\js\bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap\js\jquery.min.js' %}"></script>
<script src="{% static 'bootstrap\js\mdb.lite.min.js' %}"></script>
<script src="{% static 'bootstrap\js\popper.min.js' %}"></script>
</body>
</html>
