{% load static %}
<html lang="ko">
<head>
{% include "www/share/head.html" %}
</head>
<body>
<div class="container" style="background-image: url('{% static 'www\main02.png' %}')">
    <br>
    {% include "www/share/navbar.html" %}
    <div style="height:221px"></div>
<!-- 사이드메뉴 -->
<div class="row" style="background-color: #efefef;">
    <div class="col-xs p-4" style="width: 250px; border-right: 1px solid lightgray">
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="#">회사소개</a>
                <div class="font-sans-300" style="font-size: 20px">
                    <li><a style="color: dimgray" href="../company">- 회사개요</a></li>
                    <li><a style="color: dimgray" href="../vision">- 기업비전</a></li>
                    <li><a style="color: dimgray" href="../history">- 회사연혁</a></li>
                    <li><a style="color: dimgray" href="../orgnation">- 조직도</a></li>
                    <li><a style="color: dimgray" href="../certificate">- 지적재산권</a></li>
                    <li><a style="color: dimgray" href="../map">- 오시는길</a></li>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="../product">제품소개</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="../notice" >공지사항</a>
            </ul>
        </div>
        <div>
            <ul>
                <a class="font-sans-500" style="font-size: 26px; color: black" href="#" onclick="javascript:alert('준비중입니다.')">투자정보</a>
            </ul>
        </div>
    </div>
    <div class="m-2 font-sans-400" style="width: 1000px;">
        <div style="text-align: right; font-size: 12px;">홈 > 회사소개 > 기업비전</div>
        <div class="col-xs" style="font-size: 25px">기업비전</div>
        <div class="col-xs" style="border-bottom: 1px solid lightgray"><br>
<pre class="font-serif-500" style="font-size: 26px">
세계속에 당당한 프로텍
프로텍은 최고의 인재와 기술력을 바탕으로 최고의 가치를 창출합니다.
</pre>

        </div>





        <div style="height: 50px"></div>
        <div style="margin-left: 50px; width: 800px"><h4>고객과 투자자의 이익을 극대화하는 고객중심의 경영추구</h4></div>
        <div style="height: 10px"></div>
<!--
        <div style="text-align: center; width: 800px; height: 500px">
            <img src="{% static 'www\vision.png' %}">
        </div>
-->



        <div class="row" style="margin-left: 50px; width: 800px">
            <div class="rounded" style="margin: 10px; width: 210px; height: 170px; text-align: center; padding-top: 10px; border: solid 10px #f3818a"><i class="fas fa-5x fa-cog" style="color: #f3818a"></i><p>HITECH R&D</p></div>
            <div style="width: 50px;"></div>
            <div class="rounded" style="margin: 10px; width: 210px; height: 170px; text-align: center; padding-top: 10px; border: solid 10px #4489dd"><i class="fas fa-5x fa-map" style="color: #4489dd"></i><p>GLOBALIZATION MARKETING</p></div>
            <div style="width: 50px;"></div>
            <div class="rounded" style="margin: 10px; width: 210px; height: 170px; text-align: center; padding-top: 10px; border: solid 10px #19b5bc"><i class="fas fa-5x fa-user-friends" style="color: #19b5bc"></i><p>HUMAN PROFESSIONAL RESOURCE</p></div>
        </div>
        <div style="height: 10px"></div>
        <div class="row" style="margin-left: 50px; width: 800px">
            <div class="rounded" style="margin: 10px; width: 210px; height: 70px; text-align: center; padding-top: 10px; border: solid 2px #f3818a">aaaa</div>
            <div style="width: 50px;"></div>
            <div class="rounded" style="margin: 10px; width: 210px; height: 70px; text-align: center; padding-top: 10px; border: solid 2px #4489dd">bbbb</div>
            <div style="width: 50px;"></div>
            <div class="rounded" style="margin: 10px; width: 210px; height: 70px; text-align: center; padding-top: 10px; border: solid 2px #19b5bc">cccc</div>
        </div>


        <div class="row" style="margin-left: 50px; width: 800px; height: 70px"></div>













        <div style="margin-left: 50px; width: 800px"><h4>분야별주요고객사</h4></div>
        <div style="height: 10px"></div>
        <div style="margin-left: 50px; width: 800px">Semiconductor</div>
        <div class="row" style="margin-left: 50px; width: 810px">
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- Samsung Electronics -->
                <img style="margin-top: -40px" width="150px" src="https://t1.daumcdn.net/cfile/tistory/227CE43758E7D95511">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- SK hynix -->
                <img style="margin-top: 2px" width="110px" src="https://mis-prod-koce-homepage-cdn-01-ep.azureedge.net/resource/images/kor/pr/logo_eng.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- Amkor -->
                <img style="margin-top: 5px" width="130px" src="http://222.122.118.111/wp/wp-content/uploads/2015/08/ci-01.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- JCET -->
                <img style="margin-top: -30px" width="130px" src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/7df1de824fb0bbf6a424">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- ASE -->
                <img style="margin-top: 17px" width="130px" src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/asegroupTest1_logo.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- SPIL -->
                <img  style="margin-top: 12px" width="120px" src="https://img.etnews.com/photonews/1509/720325_20150902133439_999_0001.jpg">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- SKYWORKS -->
                <img style="margin-top: 10px" width="120px" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/51/Skyworks_logo.svg/1200px-Skyworks_logo.svg.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- signetics -->
                <img style="margin-top: 15px" width="130px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Signetics_logo.svg/1200px-Signetics_logo.svg.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- TSMC -->
                <img style="margin-top: 5px" width="75px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/Tsmc.svg/1200px-Tsmc.svg.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- HANA -->
                <img style="margin-top: 5px" width="110px" src="https://www.paxetv.com/news/photo/201703/24371_16754_0649.jpg">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- UTAC -->
                <img style="margin-top: 6px" width="80px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-hcTANeM560Vkwv0GGRnbiBQeu6zS52-EkQ&usqp=CAU">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- SFA -->
                <img style="margin-top: 17px" width="130px" src="http://www.dailygrid.net/news/photo/201908/267624_166665_3741.png">
            </div>
        </div>
        <div style="height: 10px"></div>
        <div style="margin-left: 50px; width: 800px">LED Assembly</div>
        <div class="row" style="margin-left: 50px; width: 810px">
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- Samsung Electronics -->
                <img style="margin-top: -40px" width="150px" src="https://t1.daumcdn.net/cfile/tistory/227CE43758E7D95511">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 23px" width="130px" src="http://www.lginnotek.com/wp-content/uploads/2017/03/itk_logo_eng.svg">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 19px" width="120px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Osram_Logo.svg/1280px-Osram_Logo.svg.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 15px" width="130px" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/ff/Everlight_logo.svg/220px-Everlight_logo.svg.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 10px" width="120px" src="https://nwmet.org/wp-content/uploads/Lumens-logo.png">
            </div>
        </div>
        <div style="height: 10px"></div>
        <div style="margin-left: 50px; width: 800px">Mobile/SMT</div>
        <div class="row" style="margin-left: 50px; width: 810px">
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <!-- Samsung Electronics -->
                <img style="margin-top: -40px" width="150px" src="https://t1.daumcdn.net/cfile/tistory/227CE43758E7D95511">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 20px" width="130px" src="https://lh3.googleusercontent.com/proxy/_NlOmLYeV6MbAsC3pXSL3VC_nqgfWXVgJ7eLGwQDr4lMqg37VXfgZobN5gX8rGZ9hgf05Fhtvz1qhwUm3S2zKTz-24fRUapdgE0VmbXcXMSqe6eJcFAPbKvT61mq2xooIhJekw">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 23px" width="130px" src="http://www.lginnotek.com/wp-content/uploads/2017/03/itk_logo_eng.svg">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 25px" width="125px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Samsung_Electro-Mechanics_logo_%28english%29.svg/1280px-Samsung_Electro-Mechanics_logo_%28english%29.svg.png">
            </div>
            <div class="rounded" style="width: 150px; height: 70px; margin: 5px; background-color: white; text-align: center">
                <img style="margin-top: 20px" width="130px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT247OKograHuwGXvMhA4EglTgxCBLJQvioeg&usqp=CAU">
            </div>
        </div>
        <div style="height: 100px"></div>
    </div>
</div>
{% include "www/share/footer.html" %}
</div>
{% include "www/share/script.html" %}
</body>
</html>
