{% load static %}
    <div class="row trans text-white align-items-center font-sans-700" style="height: 50px">
        <div class="col-xs" style="width: 50px;"></div>
        <div class="col-xs" style="z-index: 10">
            <a href=".."><img src="{% static 'www\logo.png' %}"/></a>
        </div>
        <div class="col-xs" style="width: 450px;"></div>
        <div class="col-xs" style="z-index: 10">
            <h4 style="margin-top: 5px"><a class="navbarlink" href="../company">회사소개</a></h4>
        </div>
        <div class="col-xs" style="width: 70px;"></div>
        <div class="col-xs" style="z-index: 10">
            <h4 style="margin-top: 5px"><a class="navbarlink" href="../product">제품소개</a></h4>
        </div>
        <div class="col-xs" style="width: 70px;"></div>
        <div class="col-xs" style="z-index: 10">
            <h4 style="margin-top: 5px"><a class="navbarlink" href="#" onclick="javascript:alert('준비중입니다.')">고객지원</a></h4>
        </div>
        <div class="col-xs" style="width: 70px;"></div>
        <div class="col-xs" style="z-index: 10">
            <h4 style="margin-top: 5px"><a class="navbarlink" href="../stocknotice">투자정보</a></h4>
        </div>
    </div>
